<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提交结果</title>
<style type="text/css">
body {
	margin: 0;
	background-repeat:no-repeat;
        background-position:0% 0%;
  	background-size:cover;
	background-color: #009d61;
}
</style>
<link href="/assets/css/demo.css" rel="stylesheet"/>

</head>
<body class="lbody">

<div>
    <div>
        <p>
                &nbsp;</p>
    </div>
    <div>
        <p>
                &nbsp;</p>
    </div>
    <div>
        <p>
                &nbsp;</p>
    </div>
    <div>
        <p>
                &nbsp;</p>
    </div>

     <div >
        <h1 style="color :white" align="center" >植物疾病智能识别系统</h1>
        <p style="color :white" class="lead"  align="center">上传成功！</p>
    </div>

    <div>
        <p>
                &nbsp;</p>
    </div>
    <div>
        <p>
                &nbsp;</p>
    </div>
<div>
        <p style="color :white" class="lead"  align="center">识别成功！</p>
    <!--<ul style="color :white" class="lead"  align="center">
            {{data}}
    </ul>-->
    </div>

    <div align="center">
        <input class="inputstyle" type="button" onclick="history.go(-1)" value="返回">
    </div>
</div>
</body>

</html>